* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* Esto suele ser 16px, puedes ajustarlo si es necesario */
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-size: 1rem; /* 16px */
    line-height: 1.5; /* Espaciado adecuado para mejorar la legibilidad */
    color: #333; /* Contraste suficiente con el fondo */
}

h1 {
    font-size: 2.25rem; /* 36px */
}

h2 {
    font-size: 2rem; /* 32px */
}

p {
    font-size: 1rem; /* 16px */
}

nav {
    padding: 1rem;
}

/*Grid*/
/* La sección principal ocupa tres columnas y cuatro filas */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 90vh;
    padding: 4rem;
}
    
.parent .main-content {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
}

.parent .sidebar  {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}

.parent .buttons-container {
    grid-column: span 3 / span 3;
    grid-row-start: 5;
}
        
/*buttons-container*/
/* La sección buttons-container ocupa dos columnas y dos filas */

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    
.buttons-container .inputhint-container {
    grid-column: span 2 / span 2;
}

.buttons-container .encriptar-container {
    grid-row-start: 2;
}

.buttons-container .desencriptar-container {
    grid-row-start: 2;
}

/* Estilización de codigo */

/* Main content */

.message-input{
    width: 100%;
    height: 60vh; /* Quiero un limite de 139 palabras */
    box-sizing: border-box;
    overflow: hidden; /* Oculta las barras de desplazamiento */
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    border: 0;
    background-color: #F3F5FC;
    color: #0A3871;
    outline: none;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}


.message-input::placeholder {
    color: #0A3871;
}

/* SIDEBAR*/

.sidebar{
    background-color: #fff;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sectionTextoEncriptado {
    background-color: #fff;
    border-radius: 32px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textoEncriptado h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.textoEncriptado p {
    font-size: 1rem;
}

.copy-action{
    display: none;
} 

/* buttons container */

.inputhint-container{
    display: flex;
    align-items: end;  
}

.inputHint {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    color: #6c757d; /* Color gris para el texto */
    margin-top: 0.5rem; /* Espacio superior */
    display: block; /* Asegura que el texto se muestre debajo del input */
    text-align: left;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.button-container .button{
    width: 80%;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    transition: background-color 0.3s;
}

.button:hover{
    color: #333;
    background-color: #fff;
}

.encriptar {
    background-color: #0A3871;
    color: #D8DFE8;
}

.desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.desencriptar:hover{
    color: #fff;
    background-color: #0A3871;
}
